
{
  "presets": [
    "babel-preset-latest"
  ],
  "env": {
    "production": {
      "presets": [
        [
          "babel-preset-latest",
          {
            "targets": "> 0.25%, not dead"
          }
        ]
      ]
    }
  }
}
